# 1. For the text "I am learning NLP", build One Hot Encoded feature vectors using:
a) Pandas
b) Scikit

In [30]:
# Applying one hot encoding using pandas

import pandas as pd
import numpy as np
txt = "I am learning NLP"

In [31]:
up_txt = txt.split()
up_txt

['I', 'am', 'learning', 'NLP']

In [32]:
one_hot_ = pd.get_dummies(upd_txt, columns = upd_txt)
one_hot_

   I  NLP  am  learning
0  1    0   0         0
1  0    0   1         0
2  0    0   0         1
3  0    1   0         0

In [33]:
# Applying one hot encoding using sklearn library
# Importing the libraries

from sklearn.preprocessing import OneHotEncoder

In [34]:
# Assinging an object to the onehotencoder
enc = OneHotEncoder()

In [35]:
enc_mat = enc.fit_transform([[i] for i in upd_txt]).toarray()

In [36]:
df = pd.DataFrame(enc_mat, columns = up_txt)
df

     I   am  learning  NLP
0  1.0  0.0       0.0  0.0
1  0.0  0.0       1.0  0.0
2  0.0  0.0       0.0  1.0
3  0.0  1.0       0.0  0.0

# 2. Take a corpus with 4 sentences. Create Bag of Words feature vectors using Scikit:
a) Print feature names of the corpus.
b) Print the feature vectors matrix using DataFrame.

In [37]:
corpus = ['I like NLP','I am exploring NLP','I want to learn advanced NLP','I am a beginner in NLP']

In [38]:
# Creating the bag of words feature using Sklearn
from sklearn.feature_extraction.text import CountVectorizer

In [39]:
v = CountVectorizer()

In [40]:
# Fitting the corpus to the count vectorizer

doc_mat = v.fit_transform(corpus)

# Printing the feature names from the corpus

features = v.get_feature_names_out()
features

array(['advanced', 'am', 'beginner', 'exploring', 'in', 'learn', 'like',
       'nlp', 'to', 'want'], dtype=object)

In [41]:
df = pd.DataFrame(doc_mat.toarray(), columns = features)
df

   advanced  am  beginner  exploring  in  learn  like  nlp  to  want
0         0   0         0          0   0      0     1    1   0     0
1         0   1         0          1   0      0     0    1   0     0
2         1   0         0          0   0      1     0    1   1     1
3         0   1         1          0   1      0     0    1   0     0

# 3. For the text “I learn NLP because it is awesome”, print uni-grams, bi-grams and tri-grams using:
a) Textblob
b) Ntlk

In [42]:
# Importing textblob

from textblob import TextBlob
txt = "I learn NLP because it is awesome"

In [44]:
# Assigning an object to textblob

ngram_obj = TextBlob(txt)

In [45]:
# Perfroming uni-gram
uni_gram = ngram_obj.ngrams(n=1)

# Peforming bi-gram
bi_gram = ngram_obj.ngrams(n=2)

# Performing tri-gram
tri_gram = ngram_obj.ngrams(n=3)

In [46]:
uni_gram

[WordList(['I']),
 WordList(['learn']),
 WordList(['NLP']),
 WordList(['because']),
 WordList(['it']),
 WordList(['is']),
 WordList(['awesome'])]

In [47]:
bi_gram

[WordList(['I', 'learn']),
 WordList(['learn', 'NLP']),
 WordList(['NLP', 'because']),
 WordList(['because', 'it']),
 WordList(['it', 'is']),
 WordList(['is', 'awesome'])]

In [48]:
tri_gram

[WordList(['I', 'learn', 'NLP']),
 WordList(['learn', 'NLP', 'because']),
 WordList(['NLP', 'because', 'it']),
 WordList(['because', 'it', 'is']),
 WordList(['it', 'is', 'awesome'])]

In [49]:
# Performing the same set of operations using NLTK

from nltk import ngrams
sentence = 'I learn NLP because it is awesome'
n = 1
unigrams = ngrams(sentence.split(), n)
for grams in unigrams:
    print(grams)

('I',)
('learn',)
('NLP',)
('because',)
('it',)
('is',)
('awesome',)

In [50]:
# Performing the same set of operations using NLTK

from nltk import ngrams
sentence = 'I learn NLP because it is awesome'
n = 2
bigrams = ngrams(sentence.split(), n)
for grams in unigrams:
    print(grams)

In [23]:
# Performing the same set of operations using NLTK

from nltk import ngrams
sentence = 'I learn NLP because it is awesome'
n = 3
trigrams = ngrams(sentence.split(), n)
for grams in unigrams:
    print(grams)

# 4. For the corpus ['I like NLP', 'I am exploring NLP', 'I am a beginner in NLP', 'I want to learn NLP', 'Ilike advanced NLP'], create TFIDF feature vectors using Scikit:
a) Print vocabulary of the corpus.
b) Print the inverse document frequencies.
c) Print the feature vectors matrix using DataFrame.
d) Print cosine similarity of the 2nd sentence with all other sentences.

In [54]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = ['I like NLP', 'I am exploring NLP', 'I am a beginner in NLP', 'I want to learn NLP','like advanced NLP']

# Print the vocabulary of the corpus
          
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
print(v.vocabulary_)

print("\n")
print(v.get_feature_names_out())

{'like': 6, 'nlp': 7, 'am': 1, 'exploring': 3, 'want': 9, 'to': 8, 'learn': 5, 'advanced': 0, 'beginner': 2, 'in': 4}


['advanced' 'am' 'beginner' 'exploring' 'in' 'learn' 'like' 'nlp' 'to'
 'want']

In [55]:
# Print the inverse document frequencies

vectorizer.idf_

array([2.09861229, 1.69314718, 2.09861229, 2.09861229, 2.09861229,
       2.09861229, 1.69314718, 1.        , 2.09861229, 2.09861229])

In [58]:
# Print the cosine similarity of the 2nd sentence with all other sentence

from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(X[1],X)
cosine_sim

array([[0.17682765, 1.        , 0.37765328, 0.09223325, 0.12090552]])

# 5. For the corpus 
"The quick brown fox jumps over the lazy dog","The quick brown fox jumps over
the quick dog","The quick brown fox jumps over the quick brown dog","The quick brown fox jumps
over the quick brown fox"] build the co-occurrence matrix and print it using DataFrame.

In [61]:
from sklearn.feature_extraction.text import CountVectorizer

In [60]:
corpus = ["The quick brown fox jumps over the lazy dog",
"The quick brown fox jumps over the quick dog",
"The quick brown fox jumps over the quick brown dog",
"The quick brown fox jumps over the quick brown fox"]
v = CountVectorizer()
X = v.fit_transform(corpus)
co_occ_matrix = (X.T * X).toarray()
df = pd.DataFrame(co_occ_matrix, columns = v.get_feature_names_out())
df

   brown  dog  fox  jumps  lazy  over  quick  the
0     10    4    8      6     1     6     11   12
1      4    3    3      3     1     3      5    6
2      8    3    7      5     1     5      9   10
3      6    3    5      4     1     4      7    8
4      1    1    1      1     1     1      1    2
5      6    3    5      4     1     4      7    8
6     11    5    9      7     1     7     13   14
7     12    6   10      8     2     8     14   16